/* General */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #ecf0f1;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.screen {
    flex: 1;
    display: none;
    padding: 20px;
    text-align: center;
    background: #ffffff;
}

.screen.active {
    display: block;
}

/* Barra de navegación inferior */
.footer-nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 10%; /* Ajustado al 10% */
    background: #2c3e50;
    display: flex;
    justify-content: space-between; /* Distribuye los íconos de forma uniforme */
    align-items: center;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    padding: 0 10px; /* Espaciado a los bordes */
}

.nav-item {
    flex: 1; /* Cada ícono ocupa el mismo espacio */
    text-align: center;
    color: #ecf0f1;
    font-size: 10px; /* Tamaño del texto más pequeño */
    cursor: pointer;
    transition: transform 0.2s, color 0.2s;
}

.nav-item img {
    width: 30px; /* Íconos más pequeños */
    height: 30px;
    margin-bottom: 2px; /* Menos separación entre ícono y texto */
    transition: transform 0.2s;
}

.nav-item:hover {
    color: #1abc9c;
    transform: scale(1.1);
}

.nav-item.active img {
    border: 2px solid #1abc9c;
    border-radius: 50%;
}

.nav-item.active {
    color: #1abc9c;
}
